/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

html {
    height: 100%;
    background: url(drinkbig.jpg)
  }
  body {
     width: 100vw;
     height: 100%;
  }
  header {
      background-color: #FF893C;
      padding: 5px;
      font-size: 30px;
      display: block;
      border: 5px ridge #000000;
      text-align: center;
      width: calc(97vw);
      -webkit-text-stroke: 2px #4DB0E8;
      text-shadow: 3px 1px 1px #000;
  } 
  nav {
    width: 100%;
    text-align: center;
    margin-left: 70%;
  }
  nav ul {
      padding: 5px;
      list-style-type: none;
      text-align: center;
  }
  nav li {
      border: #000000 ridge 2px;
      margin: 5px;
      display: inline-block;
      text-align: center;
  }
  nav li a {
      display: inline-block;
      height: 25px;
      padding: 12px 18px 8px 18px;
      text-align: center;
  }
  section {
      width: 100vw;
      float: left;
  }
  aside {
      width: 100%;
      display: inline-block;
      min-height: 100%;
  }
  img {
      max-width: 55%;
  }
  .article1 {
      width: 33vw;
      float: left;
      text-align: center;
  }
  article {
      float: left;
  }
  .article2 {
      Width: 30vw;
      text-align: left;
      border: #000000 ridge 2px;
      padding: 4px;
      font-size: 15px;
      float: right;
      margin: 2px;
      
  }
  .article2 img {
      float: left;
  }
  section p {
      text-align: center;
      font-size: 25px;
  }
